<!-- Background -->
<div class="bg-img">
  <img src="assets/images/home_bg.jpg"/>
</div>

<div class="container">
<div class="row">
  <!-- Logo -->
  <div class="col-xs-8">
    <a href="/">
      <div class="logo">
        <h1>iBrowser</h1>
      </div>
    </a>
  </div>

  <!-- Menu -->
  <div class="col-xs-4 text-right menu">
    <div class="item">
      <h5><a href="#">HISTORY</a></h5>
    </div>
    <div class="item">
      <h5><a ng-click="vm.favourites()">FAVOURITES</a></h5>
    </div>
  </div>
</div>
</div>
