<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="logo">
        <h1>iBrowser</h1>
      </div>
    </div>
    <div class="col-xs-4 text-right menu">
      <div class="item">
        <h5><a href="#">HISTORY</a></h5>
        <hr id="hr_menu"/>
      </div>
      <div class="item">
        <h5><a href="#">FAVOURITES</a></h5>
      </div>
    </div>
  </div>
  <div ng-controller="HomeController as vm">
  <div class="search" ng-style="vm.searchStyle">
    <div class="row">
      <div class="col-xs-12">
        <h1 ng-show="vm.shouldShow">Looking for some music?</h1>
        <h2 ng-show="vm.shouldShow">Find it with your <span>iBrowser</span>.</h2>
        <div ng-style="vm.searchButtonStyle"><input type="text" class="texbox" placeholder="SEARCH" ng-model="vm.query" ng-style="vm.inputStyle"></div>
        <div class="search-button" ng-style="vm.searchButtonStyle" ng-click="vm.search(vm.query)">SEARCH</div>

      </div>
    </div>
  </div>
  <div class="results">
    <div infinite-scroll='loadMore()' infinite-scroll-distance='1'>
      <div ng-repeat="song in vm.results" >
        <div class="row result">
          <div class="col-xs-3">
            <img ng-src="{{song.artworkUrl100}}"/>
          </div>
          <div class="col-xs-9">
            <h3>{{song.collectionName}}</h3>
            <h4>{{song.artistName}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
