<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <a href="/">
      <div class="logo">
        <h1>iBrowser</h1>
      </div>
      </a>
    </div>
    <div class="col-xs-4 text-right menu">
      <div class="item">
        <h5><a href="#">HISTORY</a></h5>
        <hr id="hr_menu"/>
      </div>
      <div class="item">
        <h5><a href="#">FAVOURITES</a></h5>
      </div>
    </div>
  </div>

  <div class="search" ng-style="home.searchStyle">
    <div class="row">
      <div class="col-xs-12">
        <h1 ng-show="home.shouldShow">Looking for some music?</h1>
        <h2 ng-show="home.shouldShow">Find it with your <span>iBrowser</span>.</h2>
        <div>
        <div class="search-inputbox" ng-style="home.searchInputStyle">
          <input type="text" class="texbox" placeholder="SEARCH" ng-model="home.query" ng-style="home.inputStyle">
        </div>
          <div class="search-box" ng-style="home.searchButtonStyle">
            <div class="search-box-button" ng-click="home.search(home.query)">SEARCH</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 id="noResults" ng-show="results.length == 0 && query.length > 0">Soory, no results...</h1>
  <div class="results">
    <div infinite-scroll='loadMore()' infinite-scroll-distance='1'>
      <div ng-repeat="song in home.results" >
        <div class="row result">
         <div class="col-xs-3">
            <img ng-src="{{song.artworkUrl100}}"/>
          </div>
          <div class="col-xs-9">
            <h3><a href="#/{{song.trackId}}">{{song.trackName}}</a></h3>
            <h4>{{song.artistName}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
